/* common nav css */
.navbar {
  background: linear-gradient(45deg, #8a2387, #e94057, #f27121);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-link:hover {
  color: #ffd700;
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
}
.nav-link.active {
  background-color: #ffd700;
  color: #4b0082;
  border: 2px solid #4b0082; 
  transform: scale(1.1); 
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .nav-item {
    margin: 10px 0;
  }
}
